body{
    background-color: gainsboro;

}
#specific{
    text-align: center;
    color: indianred;
}
.multicolumn-container{
    column-count: 3;
    column-gap: 20px;
    max-width: 800px;
    margin:auto ;

}
.multicolumn-container p{
    margin-bottom: 15px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}