body{
    background-color: dimgray;
}
.flex-container{
    display: flex;
    background-color: peru;
    flex-direction: row;
    justify-content: end;
    align-content:stretch;
    align-items:left;
    height: 100vh;
    flex-wrap: wrap;
}
.flex-container>div{

    background-color: crimson;
    margin: 20px;
    padding: 20px ;
    height: 20vh;
    font-size: x-large;
    text-align: center;

}