body{
    background-color: aquamarine;
    text-align: center;
}
@media screen and (max-width: 900px)  {
    body{
        background-color: red;
    }
    
}
@media screen and (max-width: 600px) {
    body{
        background-color:pink;
    }
}

@media(orientation: landscape) {
    body{
        background-color: olivedrab;
    }
}
@media(hover:hover){
    body{
        cursor:pointer;
    }
}