body{
    background-color: dimgray;
}
.flex-container{
    display: flex;
    background-color: peru;
    flex-direction: column;
    align-items:stretch;
    align-content:stretch;
    height: 300;
}
.flex-container>div{
    background-color: crimson;
    margin: 20px;
    padding: 20px ;
    height: 20vh;
    font-size: x-large;
    text-align: center;

}